@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --h-height: 240px;
  --f-height: 435px;
  --img-height: 300px;
  --font-size: 24px;
}
@media (max-width: 1399px) {
  :root {
    --h-height: 221px;
    --f-height: 380px;
    --img-height: 260px;
    --font-size: 20px;
  }
}
@media (max-width: 1199px) {
  :root {
    --h-height: 212px;
    --f-height: 350px;
    --img-height: 215px;
    --font-size: 18px;
  }
}
@media (max-width: 991px) {
  :root {
    --h-height: 51px;
    --f-height: 77px;
  }
}
@media (max-width: 767px) {
  :root {
    --font-size: 16px;
  }
}
@media (max-width: 575px) {
  :root {
    --img-height: 43vw;
  }
}

/* mixins */
/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 130%;
  margin-bottom: 0px;
}
@media (max-width: 575px) {
  h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
    line-height: 120%;
  }
}

h1, h2 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
@media (max-width: 575px) {
  h1, h2 {
    font-size: 1.25em;
  }
}

h3 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0px;
}
@media (max-width: 575px) {
  h3 {
    font-size: 1.1em;
  }
}

h4 {
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0px;
}
@media (max-width: 575px) {
  h4 {
    font-size: 1em;
  }
}

h5 {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}
@media (max-width: 575px) {
  h5 {
    font-size: 0.9em;
  }
}

h6 {
  font-size: 0.75em;
  font-weight: 400;
  margin-bottom: 0px;
}

.fs-07 {
  font-size: 0.7em;
}
.fs-075 {
  font-size: 0.75em;
}
.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.black {
  color: #000;
}

.color-1 {
  color: #4737FF;
}

.color-2 {
  color: #F75C03;
}

.achromat-4 {
  color: #7B7B7B;
}

.bb-1 {
  border-bottom: 1px solid currentColor;
}

/* Form elements */
input, textarea {
  background: #fff;
  border: none;
  padding: 0.4em 0.8em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 300ms ease;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #D0D0D0;
  font-weight: 400;
}
input::placeholder, textarea::placeholder {
  color: #D0D0D0;
  font-weight: 400;
}

textarea {
  border-radius: 0.8em;
}

input {
  border-radius: 1.6em;
}
input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: #fff;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  transition: 300ms ease;
  border: 2px solid #D0D0D0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
input[type=radio]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #D0D0D0;
  transform: translate(-50%, -50%);
  transition: 300ms ease;
}
input[type=radio]:checked {
  border: 2px solid #4737FF;
}
input[type=radio]:checked::after {
  background-color: #4737FF;
}
input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
  width: 1em;
  height: 1em;
  background-color: #fff;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  transition: 300ms ease;
  border: 2px solid #D0D0D0;
  border-radius: 0.16em;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 80%;
  transform-origin: 50% 50%;
  transform: rotateZ(45deg) translate(-100%, -25%);
  border-bottom: 4px solid #4737FF;
  border-right: 4px solid #4737FF;
  border-radius: 2px;
  opacity: 0;
  transition: 300ms ease;
}
input[type=checkbox]:checked {
  border: 2px solid #4737FF;
}
input[type=checkbox]:checked::after {
  opacity: 1;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
label span {
  flex: 1;
  cursor: pointer;
}
label.pill input {
  display: none;
}
label.pill input:checked + span {
  background-color: #4737FF;
  color: #FFFFFF;
}
label.pill span {
  background-color: #FFFFFF;
  padding: 0.4em 0.8em;
  border-radius: 1.6em;
  transition: 300ms ease;
}
@media (max-width: 575px) {
  label.pill span {
    border-radius: 0.8em;
  }
}
label.figure {
  display: block;
}
label.figure input {
  display: none;
}
label.figure input:checked ~ .figure-img {
  background-image: linear-gradient(0deg, #4737FF, #4737FF), var(--img);
}
label.figure input:checked ~ .text {
  color: #4737FF;
}
label.figure .figure-img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 0.8em;
  background-size: cover;
  transition: 300ms ease;
  background-blend-mode: screen, normal;
}
@media (max-width: 991px) {
  label.figure .figure-img {
    height: 140px;
  }
}
label.figure .text {
  transition: 300ms ease;
  margin-top: 0.5em;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-3, .btn-2, .btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.4em 0.8em;
  text-align: center;
  transition: 300ms ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 400;
  border-radius: 1.6em;
}
.btn-1 {
  color: #fff;
  background: #4737FF;
}
.btn-1:hover, .btn-1:focus, .btn-1:active, .btn-1.active {
  color: #fff;
  background: #F75C03;
}
.btn-2 {
  color: #fff;
  background: #F75C03;
}
.btn-2:hover, .btn-2:focus, .btn-2:active, .btn-2.active {
  color: #fff;
  background: #4737FF;
}
.btn-3 {
  color: #1F1F1F;
  background: #FFFFFF;
}
.btn-3:hover, .btn-3:focus, .btn-3:active, .btn-3.active {
  color: #F75C03;
  background: #F2F2F2;
}

/* Blocks */
.flex-1 {
  flex: 1;
}

.mb-35 {
  margin-bottom: 3.5em;
}

.page-title {
  width: 100%;
  min-height: 200px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #4737FF;
  color: #FFFFFF;
  border-radius: 1.2em;
  margin-bottom: 2em;
  padding: 1.5em 2em;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  transform: translateZ(0);
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
}
@media (max-width: 1399px) {
  .page-title {
    min-height: 180px;
  }
}
@media (max-width: 1199px) {
  .page-title {
    min-height: 150px;
  }
}
@media (max-width: 991px) {
  .page-title {
    min-height: 120px;
  }
}
@media (max-width: 767px) {
  .page-title {
    min-height: 100px;
    padding: 1em 1.5em;
  }
}
@media (max-width: 575px) {
  .page-title {
    min-height: 85px;
  }
}
.page-title::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to right, #1C119C -19.7%, #4737FF 33.18%, transparent 100.76%);
  z-index: 2;
}
.page-title img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: saturate(0);
}
.page-title .text {
  position: relative;
  z-index: 3;
  width: 60%;
}
@media (max-width: 991px) {
  .page-title .text {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .page-title .text {
    width: 100%;
  }
}

.breadcrumbs {
  color: #7B7B7B;
  margin-bottom: 1em;
}
.breadcrumbs ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumbs ul li:not(:first-child) {
  margin-left: 0.5em;
}
.breadcrumbs ul li:not(:first-child)::before {
  content: ">";
  margin-right: 0.5em;
}

body {
  margin: 0;
  font-family: "Inter", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  font-weight: 400;
  color: #1F1F1F;
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 991px) {
  body {
    padding: var(--h-height) 0px var(--f-height);
  }
}

header {
  padding: 1em 0;
  height: var(--h-height);
  background-color: #F2F2F2;
  border-radius: 0 0 0.8em 0.8em;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
}
header.mobile {
  padding: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1100;
}
header.mobile .menu-btn {
  font-size: 1.5em;
  display: flex;
}
header.mobile .menu-btn svg path {
  transition: 300ms ease;
  opacity: 1;
}
header.mobile .menu-btn svg.cross path:first-child {
  transform: rotate(-43deg);
  transform-origin: top right;
}
header.mobile .menu-btn svg.cross path:nth-child(2) {
  opacity: 0;
}
header.mobile .menu-btn svg.cross path:last-child {
  transform-origin: bottom right;
  transform: rotate(43deg);
}
header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  header .top {
    height: 100%;
  }
}
header .top address {
  font-size: 0.75em;
}
header .middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header .middle .form-search {
  width: 390px;
  border: 1px solid #4737FF;
  border-radius: 1.6em;
  position: relative;
}
@media (max-width: 1199px) {
  header .middle .form-search {
    width: 260px;
  }
}
header .middle .form-search button {
  color: #4737FF;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2em;
}
header ul {
  list-style: none;
  padding-left: 0px;
}
header ul.menu-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
header ul.menu-1 li:not(:first-child) {
  margin-left: 1em;
}
header ul.menu-1 li a {
  color: #7B7B7B;
  transition: 300ms ease;
}
header ul.menu-1 li a:hover, header ul.menu-1 li a:focus, header ul.menu-1 li a:active, header ul.menu-1 li a.active {
  color: #4737FF;
}
header ul.menu-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header ul.menu-2 a {
  color: #1F1F1F;
  transition: 300ms ease;
}
header ul.menu-2 a:hover, header ul.menu-2 a:focus, header ul.menu-2 a:active, header ul.menu-2 a.active {
  color: #4737FF;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.logo img, .logo svg {
  height: 60px;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.5em;
  margin-bottom: 0.15em;
}
@media (max-width: 991px) {
  .logo img, .logo svg {
    height: 33px;
  }
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  padding: 2em 0;
}

/* Section 1 */
.sec-1 {
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
}
.sec-1 .swiper {
  position: relative;
}
.sec-1 .swiper-slide {
  height: 420px;
  background-color: #7297BB;
  border-radius: 0.8em;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  transform: translateZ(0);
}
@media (max-width: 991px) {
  .sec-1 .swiper-slide {
    height: 380px;
  }
}
@media (max-width: 575px) {
  .sec-1 .swiper-slide {
    height: 275px;
  }
}
.sec-1 .swiper-slide .img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.sec-1 .swiper-slide .img::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, #668CB2 30%, transparent 65%);
  background-size: cover;
}
@media (max-width: 991px) {
  .sec-1 .swiper-slide .img::before {
    background-image: linear-gradient(to right, #668CB2 50%, transparent 85%);
  }
}
.sec-1 .swiper-slide .img img {
  height: 100%;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: auto;
  display: block;
  position: relative;
  z-index: 0;
}
@media (max-width: 991px) {
  .sec-1 .swiper-slide .img img {
    width: 50%;
  }
}
.sec-1 .swiper-slide .descr {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 2.5em 4em;
  height: 100%;
  width: 85%;
}
@media (max-width: 991px) {
  .sec-1 .swiper-slide .descr {
    padding: 2em 3em;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .sec-1 .swiper-slide .descr {
    padding: 1em;
  }
}
.sec-1 .swiper-slide .descr .title {
  font-size: 2em;
  font-weight: 700;
}
@media (max-width: 991px) {
  .sec-1 .swiper-slide .descr .title {
    font-size: 1.75em;
  }
}
@media (max-width: 767px) {
  .sec-1 .swiper-slide .descr .title {
    font-size: 1.5em;
  }
}
@media (max-width: 575px) {
  .sec-1 .swiper-slide .descr .title {
    font-size: 1.25em;
  }
}
.sec-1 .swiper-pagination {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: unset;
  bottom: 2.5em;
  left: 4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 9915px) {
  .sec-1 .swiper-pagination {
    bottom: 2em;
    left: 3em;
  }
}
@media (max-width: 575px) {
  .sec-1 .swiper-pagination {
    bottom: 1em;
    left: 1em;
  }
}
.sec-1 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 13px 0 0;
  background-color: #fff;
  opacity: 0.5;
  transition: 300ms ease;
}
.sec-1 .swiper-pagination-bullet-active {
  opacity: 1;
  width: 50px;
}
.sec-1 .swiper-button-prev, .sec-1 .swiper-button-next {
  top: 50%;
  margin: 0px !important;
  transform: translateY(-50%);
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-1 .swiper-button-prev::after, .sec-1 .swiper-button-next::after {
  content: unset;
}
.sec-1 .swiper-button-prev svg, .sec-1 .swiper-button-next svg {
  font-size: 0.75em;
}
.sec-1 .swiper-button-prev {
  left: 0.8em;
}
.sec-1 .swiper-button-next {
  right: 0.8em;
}

/* Section 2 */
@media (max-width: 991px) {
  .sec-2 .row .col:nth-child(6), .sec-2 .row .col:nth-child(7) {
    display: none;
  }
}
@media (max-width: 767px) {
  .sec-2 .row .col:nth-child(4), .sec-2 .row .col:nth-child(5) {
    display: none;
  }
}

.category-card img {
  width: 100%;
  height: var(--img-height);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8em;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
  margin-bottom: 0.5em;
}
.category-card-btn {
  width: 100%;
  height: var(--img-height);
  background-image: url(imgs/lines.png), linear-gradient(135.19deg, #4737FF 2.39%, #1C119C 97.31%);
  background-repeat: no-repeat;
  background-position: 100% 100%, 50% 50%;
  border-radius: 0.8em;
  background-size: cover, cover;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  padding: 5% 20% 20% 15%;
}
.category-card-btn .icon {
  margin-top: 0.5em;
  width: 1.7em;
  height: 1.7em;
  font-size: 1.2em;
  background-color: #FFFFFF;
  color: #4737FF;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 0.1em;
}

/* Section 3 */
.sec-3 .swiper-wrapper {
  align-items: stretch;
}
.sec-3 .swiper-slide {
  height: unset !important;
}
.sec-3 .swiper-scrollbar {
  opacity: 0;
}
@media (max-width: 991px) {
  .sec-3 .swiper {
    padding-bottom: 2em;
  }
  .sec-3 .swiper .swiper-scrollbar {
    opacity: 1;
  }
}
.sec-3 .offer {
  width: 100%;
  background-image: url(imgs/mask.png), linear-gradient(135.19deg, #4737FF 2.39%, #1C119C 97.31%);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: 100% 100%, 50% 50%;
  padding: 2.5em;
  border-radius: 0.8em;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .sec-3 .offer {
    padding: 2em;
  }
}
@media (max-width: 991px) {
  .sec-3 .offer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
@media (max-width: 575px) {
  .sec-3 .offer {
    padding: 1em;
  }
}
.sec-3 .offer h3 {
  width: 90%;
}
.sec-3 .offer p {
  width: 70%;
  margin: 1.5em 0;
}
@media (max-width: 575px) {
  .sec-3 .offer p {
    margin: 1em 0;
  }
}

.project-card {
  position: relative;
}
.project-card img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--img-height);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8em;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
}
.project-card figcaption {
  padding: 0.8em 0.8em 0;
}
@media (max-width: 1199px) {
  .project-card figcaption {
    padding: 0.8em 0 0;
  }
}
.project-card figcaption h5 {
  font-weight: 400;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em;
}
.project-card .marking {
  background-color: #4737FF;
  color: #FFFFFF;
  border-radius: 1.6em;
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  z-index: 2;
  font-size: 0.75em;
  padding: 0.5em 0.8em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* Section 4 */
#map {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-bottom: 1em;
  border-radius: 0.8em;
  height: 400px;
}
@media (max-width: 767px) {
  #map {
    height: 320px;
  }
}
@media (max-width: 575px) {
  #map {
    height: 75vw;
  }
}

/* Section 5 */
article {
  margin-bottom: 2em;
}
@media (max-width: 575px) {
  article {
    font-size: 0.8em;
  }
}
article img {
  width: 100%;
  height: var(--img-height);
  border-radius: 1.2em;
}
article p {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 4.8em;
}
article .btn-2 {
  margin-top: 2em;
}
@media (max-width: 575px) {
  article .btn-2 {
    margin-top: 1em;
  }
}

/* Section 6 */
.sec-6 .img {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  width: 48%;
  border-radius: 0.8em;
}
.sec-6 p {
  line-height: 120%;
  margin-bottom: 1.5em;
}

.quiz {
  background-color: #F2F2F2;
  padding: 2em;
  border-radius: 0.8em;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
}
@media (max-width: 1199px) {
  .quiz {
    padding: 1.5em;
  }
}
@media (max-width: 575px) {
  .quiz {
    padding: 1em;
  }
}
@media (max-width: 370px) {
  .quiz {
    font-size: 0.9em;
  }
}
.quiz .img {
  width: 100%;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8em;
}
@media (max-width: 1399px) {
  .quiz .img {
    height: 325px;
  }
}
@media (max-width: 1199px) {
  .quiz .img {
    height: 280px;
  }
}
@media (max-width: 991px) {
  .quiz .img {
    height: 240px;
  }
}
.quiz .markers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.quiz .markers span {
  width: 0.4em;
  height: 0.4em;
  border-radius: 0.2em;
  background-color: #F75C03;
  margin-right: 0.65em;
  transition: 300ms ease;
  opacity: 0.5;
}
.quiz .markers span.active {
  width: 2em;
  opacity: 1;
}
@media (max-width: 767px) {
  .quiz .markers span {
    margin-right: 0.4em;
  }
  .quiz .markers span.active {
    width: 1em;
  }
}
@media (max-width: 575px) {
  .quiz .markers span {
    margin-right: 0.2em;
  }
}
.quiz ul {
  list-style: none;
  padding-left: 0px;
}
.quiz ul li:not(:first-child) {
  margin-top: 0.75em;
}

footer {
  height: var(--f-height);
  background-color: #1F1F1F;
  color: #FFFFFF;
  padding: 2em 0;
  font-weight: 300;
}
footer.mobile {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1100;
  filter: drop-shadow(0px -3px 5px rgba(0, 0, 0, 0.09));
  background-color: #F2F2F2;
  color: #1F1F1F;
  padding: 0;
}
footer.mobile nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
footer.mobile nav ul li {
  margin-top: 0px !important;
}
footer.mobile nav ul li a, footer.mobile nav ul li button {
  color: #1F1F1F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: none;
  position: relative;
  padding-bottom: 0.3em;
}
footer.mobile nav ul li a::after, footer.mobile nav ul li button::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  transition: 300ms ease;
}
footer.mobile nav ul li a.active::after, footer.mobile nav ul li button.active::after {
  width: 100%;
}
footer.mobile nav ul li a.active svg, footer.mobile nav ul li button.active svg {
  color: #1F1F1F;
}
footer.mobile nav ul li a svg, footer.mobile nav ul li button svg {
  font-size: 1.5em;
  color: #7B7B7B;
  margin-bottom: 0.2em;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li:not(:first-child) {
  margin-top: 0.5em;
}
footer ul li a {
  border-bottom: 1px solid currentColor;
  transition: 300ms ease;
}
@media (min-width: 992px) {
  footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
    color: #F75C03;
  }
}
footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 2em;
}

.offcanvas.offcanvas-bottom {
  height: 100vh;
}
.offcanvas.offcanvas-end {
  width: 50%;
}
@media (max-width: 767px) {
  .offcanvas.offcanvas-end {
    width: 75%;
  }
}
@media (max-width: 575px) {
  .offcanvas.offcanvas-end {
    width: 100%;
  }
}
.offcanvas-body {
  padding: var(--h-height) 0 var(--f-height);
  background-image: linear-gradient(to bottom, transparent 0%, #F2F2F2 100%);
}
.offcanvas-body .box {
  padding: 1em;
}
.offcanvas .img {
  width: 100%;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.8em;
}
@media (max-width: 767px) {
  .offcanvas .img {
    height: 28vw;
  }
}
@media (max-width: 575px) {
  .offcanvas .img {
    height: 38vw;
  }
}
.offcanvas nav ul {
  list-style: none;
  padding-left: 0px;
}
.offcanvas nav ul:not(:last-child) {
  margin-bottom: 1em;
}
.offcanvas nav ul li:not(:last-child) {
  margin-bottom: 0.15em;
}
.offcanvas nav ul li a, .offcanvas nav ul li button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.03));
  background-color: #FFFFFF;
  padding: 1em;
}
.offcanvas nav ul li a span, .offcanvas nav ul li button span {
  flex: 1;
}/*# sourceMappingURL=style.css.map */