@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --h-height: 240px;
  --f-height: 435px;
  --img-height: 300px;
  --font-size: 24px;
  @media (max-width: 1399px) {
    --h-height: 221px;
    --f-height: 380px;
    --img-height: 260px;
    --font-size: 20px;
  }
  @media (max-width: 1199px) {
    --h-height: 212px;
    --f-height: 350px;
    --img-height: 215px;
    --font-size: 18px;
  }
  @media (max-width: 991px) {
    --h-height: 51px;
    --f-height: 77px;
  }
  @media (max-width: 767px) {
    --font-size: 16px;
  }
  @media (max-width: 575px) {
    --img-height: 43vw;
  }
}

$main-font: "Inter";
$color-1: #4737FF;
$color-2: #F75C03;
$color-3: #668CB2;
$gradient-1: linear-gradient(135.19deg, #4737FF 2.39%, #1C119C 97.31%);
$gradient-2: linear-gradient(90.6deg, #FF6812 1.13%, #FF3A0F 98.66%);
$achromat-1: #FFFFFF;
$achromat-2: #F2F2F2;
$achromat-3: #D0D0D0;
$achromat-4: #7B7B7B;
$achromat-5: #1F1F1F;
$transition: 300ms ease;
$radius: .8em;

/* mixins */
@mixin flex($dir, $x, $y, $wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap;
}
@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
@mixin safariFix {
  isolation: isolate;
  transform: translateZ(0);
}
@mixin absBG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@mixin clamp($count, $line) {
  display: -webkit-box;
  line-clamp: $count;
  -webkit-line-clamp: $count;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line;
  max-height: $line * $count;
}
@mixin list {
  list-style: none;
  padding-left: 0px;
}
@mixin shadow {
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.15));
}
@mixin shadow2 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
@mixin shadow3 {
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.03));
}

/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 130%;
  margin-bottom: 0px;
  @media (max-width:575px) {
    line-height: 120%;
  }
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1em;
  @media (max-width:575px) {
    font-size: 1.5em;
  }
}
h2 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
  @media (max-width:575px) {
    font-size: 1.25em;
  }
}
h3 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0px;
  @media (max-width: 575px) {
    font-size: 1.1em;
  }
}
h4 {
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0px;
  @media (max-width: 575px) {
    font-size: 1em;
  }
}
h5 {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
  @media (max-width: 575px) {
    font-size: .9em;
  }
}
h6 {
  font-size: .75em;
  font-weight: 400;
  margin-bottom: 0px;
}

.fs {
  &-07 {font-size: 0.7em;}
  &-075 {font-size: 0.75em;}
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-10 {font-size: 1em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-25 {font-size: 2.5em;}
  &-30 {font-size: 3em;}
  &-35 {font-size: 3.5em;}
  &-40 {font-size: 4em;}
}
.fw {
  &-3 {font-weight: 300;}
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}
.color-1 {color: $color-1;}
.color-2 {color: $color-2;}
.achromat-4 {color: $achromat-4;}
.bb-1 {border-bottom: 1px solid currentColor;}

/* Form elements */
input, textarea {
  background: #fff;
  border: none;
  padding: .4em .8em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: $transition;
  &:-moz-placeholder, &::-moz-placeholder,
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $achromat-3;
    font-weight: 400;
  }
  &::placeholder {
    color: $achromat-3;
    font-weight: 400;
  }
}
textarea {border-radius: $radius;}
input {
  border-radius: $radius*2;
  &[type='radio'] {
    @include no-appearance();
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: #fff;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    transition: $transition;
    border: 2px solid $achromat-3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      background-color: $achromat-3;
      transform: translate(-50%, -50%);
      transition: $transition;
    }
    &:checked {
      border: 2px solid $color-1;
      &::after {
        background-color: $color-1;
      }
    }
  }
  &[type='checkbox'] {
    @include no-appearance();
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: #fff;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    transition: $transition;
    border: 2px solid $achromat-3;
    border-radius: $radius*.2;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 80%;
      transform-origin: 50% 50%;
      transform: rotateZ(45deg) translate(-100%, -25%);
      border-bottom: 4px solid $color-1;
      border-right: 4px solid $color-1;
      border-radius: 2px;
      opacity: 0;
      transition: $transition;
    }
    &:checked {
      border: 2px solid $color-1;
      &::after {
        opacity: 1;
      }
    }
  }
}
label {
  @include flex(row, flex-start, center, nowrap);
  span {
    flex: 1;
    cursor: pointer;
  }
  &.pill {
    input {
      display: none;
      &:checked + span {
        background-color: $color-1;
        color: $achromat-1;
      }
    }
    span {
      background-color: $achromat-1;
      padding: .4em .8em;
      border-radius: $radius*2;
      transition: $transition;
      @media (max-width:575px) {
        border-radius: $radius;
      }
    }
  }
  &.figure {
    display: block;
    input {
      display: none;
      &:checked ~ .figure-img {
        background-image: linear-gradient(0deg, #4737FF, #4737FF), var(--img);
      }
      &:checked ~ .text {
        color: $color-1;
      }
    }
    .figure-img {
      width: 100%;
      max-width: 200px;
      height: 200px;
      border-radius: $radius;
      background-image: var(--img);
      background-size: cover;
      transition: $transition;
      background-blend-mode: screen, normal;
      @media (max-width:991px) {
        height: 140px;
      }
    }
    .text {
      transition: $transition;
      margin-top: .5em;
    }
  }
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}
.btn {
  @include flex(row, center, center, nowrap);
  padding: .4em .8em;
  text-align: center;
  transition: $transition;
  width: fit-content;
  font-size: 1em;
  font-weight: 400;
  border-radius: $radius*2;
  // &-none {
  //   padding: 0px;
  //   border: none;
  //   &:before, &:after {
  //     content: unset;
  //   }
  //   &:hover, &:focus, &:active, &.active {
  //     border: none;
  //   }
  // }
  &-1 {
    @extend .btn;
    color: #fff;
    background: $color-1;
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background: $color-2;
    }
  }
  &-2 {
    @extend .btn;
    color: #fff;
    background: $color-2;
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background: $color-1;
    }
  }
}

/* Blocks */
.flex-1 {flex:1;}
.mb-35 {margin-bottom: 3.5em;}

body {
  margin: 0;
  font-family: $main-font, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  font-weight: 400;
  color: $achromat-5;
  overflow-x: hidden;
  position: relative;
  @media (max-width:991px) {
    padding: var(--h-height) 0px var(--f-height);
  }
}


header {
  padding: 1em 0;
  height: var(--h-height);
  background-color: $achromat-2;
  border-radius: 0 0 $radius $radius;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
  &.mobile {
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1100;
    .menu-btn {
      font-size: 1.5em;
      display: flex;
      svg {
        path {
          transition: $transition;
          opacity: 1;
        }
        &.cross {
          path:first-child {
            transform: rotate(-43deg);
            transform-origin: top right;
          }
          path:nth-child(2) {
            opacity: 0;
          }
          path:last-child {
            transform-origin: bottom right;
            transform: rotate(43deg);
          }
        }
      }
    }
  }
  .top {
    @include flex(row, space-between, center, nowrap);
    @media (max-width:991px) {
      height: 100%;
    }
    address {font-size: .75em;}
  }
  .middle {
    @include flex(row, space-between, center, nowrap);
    .form-search {
      width: 390px;
      border: 1px solid $color-1;
      border-radius: $radius*2;
      position: relative;
      @media (max-width:1199px) {
        width: 260px;
      }
      button {
        color: $color-1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 2em;
      }
    }
  }
  ul {
    @include list();
    &.menu-1 {
      @include flex(row, flex-start, center, nowrap);
      li {
        &:not(:first-child){margin-left: 1em;}
        a {
          color: $achromat-4;
          transition: $transition;
          &:hover, &:focus, &:active, &.active {
            color: $color-1;
          }
        }
      }
    }
    &.menu-2 {
      @include flex(row, space-between, center, nowrap);
      a {
        color: $achromat-5;
        transition: $transition;
        &:hover, &:focus, &:active, &.active {
          color: $color-1;
        }
      }
    }
  }
}
.logo {
  @include flex(row, flex-start, flex-end, nowrap);
  img, svg {
    height: 60px;
    width: fit-content;
    margin-right: 0.5em;
    margin-bottom: 0.15em;
    @media (max-width:991px) {
      height: 33px;
    }
  }
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  padding: 2em 0;
}

/* Section 1 */
.sec-1 {
  @include shadow();
  .swiper {
    position: relative;
    &-slide {
      height: 420px;
      background-color: #7297BB;
      border-radius: $radius;
      position: relative;
      overflow: hidden;
      @include safariFix();
      @media (max-width:991px) {
        height: 380px;
      }
      @media (max-width:575px) {
        height: 275px;
      }
      .img {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          z-index: 1;
          background-image: linear-gradient(to right, $color-3 30%, transparent 65%);
          background-size: cover;
          @media (max-width:991px) {
            background-image: linear-gradient(to right, $color-3 50%, transparent 85%);
          }
        }
        img {
          height: 100%;
          width: 70%;
          object-fit: cover;
          object-position: center;
          margin-left: auto;
          display: block;
          position: relative;
          z-index: 0;
          @media (max-width:991px){width: 50%;}
        }
      }
      .descr {
        position: relative;
        z-index: 2;
        color: #fff;
        padding: 2.5em 4em;
        height: 100%;
        width: 85%;
        @media (max-width:991px) {
          padding: 2em 3em;
          width: 100%;
        }
        @media (max-width:991px) {
          padding: 1em;
        }
        .title {
          font-size: 2em;
          font-weight: 700;
          @media (max-width:991px) {
            font-size: 1.75em;
          }
          @media (max-width:767px) {
            font-size: 1.5em;
          }
          @media (max-width:575px) {
            font-size: 1.25em;
          }
        }
      }
    }
    &-pagination {
      width: fit-content;
      height: fit-content;
      top: unset;
      bottom: 2.5em;
      left: 4em;
      @include flex(row, flex-start, center, nowrap);
      @media (max-width:9915px) {
        bottom: 2em;
        left: 3em;
      }
      @media (max-width:575px) {
        bottom: 1em;
        left: 1em;
      }
      &-bullet {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin: 0 13px 0 0;
        background-color: #fff;
        opacity: .5;
        transition: $transition;
        &-active {
          opacity: 1;
          width: 50px;
        }
      }
    }
    &-button {
      &-prev, &-next {
        top: 50%;
        margin: 0px !important;
        transform: translateY(-50%);
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        background-color: rgba($color: $achromat-1, $alpha: .5);
        color: $achromat-1;
        @include flex(row, center, center, nowrap);
        &::after {content: unset;}
        svg {font-size: .75em;}
      }
      &-prev {left: .8em;}
      &-next {right: .8em;}
    }
  }
}

/* Section 2 */
.sec-2 {
  .row {
    .col {
      @media (max-width:991px) {
        &:nth-child(6), &:nth-child(7){display: none;}
      }
      @media (max-width:767px) {
        &:nth-child(4), &:nth-child(5){display: none;}
      }
    }
  }
}
.category-card {
  img {
    width: 100%;
    height: var(--img-height);
    object-fit: cover;
    border-radius: $radius;
    @include shadow();
    margin-bottom: .5em;
  }
  &-btn {
    width: 100%;
    height: var(--img-height);
    background-image: url(imgs/lines.png), $gradient-1;
    background-repeat: no-repeat;
    background-position: 100% 100%, 50% 50%;
    border-radius: $radius;
    background-size: cover, cover;
    @include shadow();
    color: $achromat-1;
    @include flex(column, center, flex-start, nowrap);
    text-align: left;
    padding: 5% 20% 20% 15%;
    .icon {
      margin-top: .5em;
      width: 1.7em;
      height: 1.7em;
      font-size: 1.2em;
      background-color: $achromat-1;
      color: $color-1;
      border-radius: 50%;
      @include flex(row, center, center, nowrap);
      padding-left: 0.1em;
    }
  }
}

/* Section 3 */
.sec-3 {
  .swiper {
    &-wrapper{align-items: stretch;}
    &-slide {height: unset !important;}
    &-scrollbar {opacity: 0;}
    @media (max-width: 991px) {
      padding-bottom: 2em;
      .swiper-scrollbar {
        opacity: 1;
      }
    }
  }
  .offer {
    width: 100%;
    background-image: url(imgs/mask.png), $gradient-1;
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: 100% 100%, 50% 50%;
    padding: 2.5em;
    border-radius: $radius;
    @include shadow();
    color: $achromat-1;
    @media (max-width:1199px) {
      padding: 2em;
    }
    @media (max-width: 991px) {
      height: 100%;
      @include flex(column, center, flex-start, nowrap);
    }
    @media (max-width:575px) {
      padding: 1em;
    }
    h3 {
      width: 90%;
    }
    p {
      width: 70%;
      margin: 1.5em 0;
      @media (max-width:575px) {
        margin: 1em 0;
      }
    }
  }
}
.project-card {
  position: relative;
  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: var(--img-height);
    object-fit: cover;
    border-radius: $radius;
    @include shadow();
  }
  figcaption {
    padding: .8em .8em 0;
    @media (max-width:1199px) {
      padding: .8em 0 0;
    }
    h5 {
      font-weight: 400;
      @include clamp(2, 1.2em);
    }
  }
  .marking {
    background-color: $color-1;
    color: $achromat-1;
    border-radius: $radius*2;
    position: absolute;
    top: .8em;
    right: .8em;
    z-index: 2;
    font-size: .75em;
    padding: 0.5em 0.8em;
    @include shadow2();
  }
}

.quiz {
  background-color: $achromat-2;
  padding: 2em;
  border-radius: $radius;
  @include shadow();
  @media (max-width:1199px) {
    padding: 1.5em;
  }
  @media (max-width:575px) {
    padding: 1em;
  }
  @media (max-width:370px) {
    font-size: .9em;
  }
  .img {
    width: 100%;
    height: 365px;
    object-fit: cover;
    border-radius: $radius;
    @media (max-width:1399px) {
      height: 325px;
    }
    @media (max-width:1199px) {
      height: 280px;
    }
    @media (max-width:991px) {
      height: 240px;
    }
  }
  .markers {
    @include flex(row, flex-start, center, nowrap);
    margin-top: .5em;
    margin-bottom: 1em;
    span {
      width: .4em;
      height: .4em;
      border-radius: .2em;
      background-color: $color-2;
      margin-right: .65em;
      transition: $transition;
      opacity: .5;
      &.active {
        width: 2em;
        opacity: 1;
      }
      @media (max-width: 767px) {
        margin-right: .4em;
        &.active {width: 1em;}
      }
      @media (max-width: 575px) {
        margin-right: .2em;
      }
    }
  }
  ul {
    @include list();
    li {
      &:not(:first-child){margin-top: .75em;}
    }
  }
}


footer {
  height: var(--f-height);
  background-color: $achromat-5;
  color: $achromat-1;
  padding: 2em 0;
  font-weight: 300;
  &.mobile {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1100;
    filter: drop-shadow(0px -3px 5px rgba(0, 0, 0, 0.09));
    background-color: $achromat-2;
    color: $achromat-5;
    padding: 0;
    nav {
      ul {
        @include flex(row, space-between, center, nowrap);
        li {
          margin-top: 0px !important;
          a {
            color: $achromat-5;
            @include flex(column, center, center, nowrap);
            border-bottom: none;
            position: relative;
            padding-bottom: .3em;
            &::after {
              content: '';
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 0%;
              height: 2px;
              border-radius: 2px;
              background-color: currentColor;
              transition: $transition;
            }
            &.active {
              &::after {width: 100%;}
              svg {
                color: $achromat-5;
              }
            }
            svg {
              font-size: 1.5em;
              color: $achromat-4;
              margin-bottom: .2em;
            }
          }
        }
      }
    }
  }
  ul {
    @include list();
    li {
      &:not(:first-child){margin-top: .5em;}
      a {
        border-bottom: 1px solid currentColor;
        transition: $transition;
        @media (min-width: 992px) {
          &:hover, &:focus, &:active {
            color: $color-2;
          }
        }
      }
    }
  }
  .bottom {
    @include flex(row, flex-start, center, nowrap);
    margin-top: 2em;
  }
}

.offcanvas {
  &.offcanvas-end {
    width: 50%;
    @media (max-width:767px) {
      width: 75%;
    }
    @media (max-width:575px) {
      width: 100%;
    }
  }
  &-body {
    padding: calc(var(--h-height) + 1em) 0 calc(var(--f-height) + 1em);
    background-image: linear-gradient(to bottom, transparent 0%, $achromat-2 100%);
    .box {
      padding: 1em;
    }
  }
  .img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    @include shadow2();
    margin-bottom: 1em;
    border-radius: $radius;
    @media (max-width:767px) {
      height: 28vw;
    }
    @media (max-width:575px) {
      height: 38vw;
    }
  }
  nav {
    ul {
      @include list();
      &:not(:last-child){margin-bottom: 1em;}
      li {
        &:not(:last-child){margin-bottom: .15em;}
        a, button {
          @include flex(row, flex-start, center, nowrap);
          @include shadow3();
          background-color: $achromat-1;
          padding: 1em;
          span {flex: 1;}
        }
      }
    }
  }
}